
.login-wrapper {
	height: 100%;
	align-items: center;
	padding: 15px 16px;
    background-color: #1B1313;
    color: #806E6E;
}

.login-wrapper ion-title {
	width: 100%;
	max-width: 420px; 
}

.login-wrapper ion-input {
	width: 100%;
}


.login-wrapper ion-title + ion-title {
	margin-top: 12px;
}


.logo-strip {
  text-align: center;
  background-color: #190D0D;
}

.logo-small {
  margin: 10px auto;
  width: 30%;
  height: 30px;
  padding-left: 5px;

  &:first-child {
    padding-left: 0; /* mantener comportamiento original del primer img */
  }
}


.main-logo {
	display: block;
	margin: 20px auto;
	width: 100px;
	height: 200px;
}

h1{
    color: #806E6E;
    text-align: center;
}

