#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.fondo {
  --background: #1B1313;
  color: #806E6E;
}
.logo-strip {
  display: flex;
  align-items: center;
  background-color: #190D0D;
}

.logo-small {
  margin: 10px auto;
  width: auto;
  height: 40px;
  padding-left: 5px;

  &:first-child {
    padding-left: 0; /* mantener comportamiento original del primer img */
  }
}