<ion-header [translucent]="true">
  <ion-toolbar >
    
    <div class="logo-strip">
      <img src="assets/img/monke_smile.jpg" alt="Logo" class="logo-small">
      <ion-text > 
      Bienvenido {{usuario.usuario}}!
      </ion-text>
      <img src="assets/img/monke_smile.jpg" alt="Logo" class="logo-small">
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content class="fondo" [fullscreen]="true">
  <b class="ion-text-center">
    <h4>Información Adicional</h4>
  </b>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text"  [(ngModel)]="data.nombre"></ion-input>
  </ion-item>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked">Apellido</ion-label>
    <ion-input type="text"  [(ngModel)]="data.apellido"></ion-input>
  </ion-item>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked" class="ion-padding-bottom">Educación</ion-label>
    <ion-select placeholder="Seleccione nivel" [(ngModel)]="data.education">
      <ion-select-option *ngFor="let niv of niveles" [value]="niv.id">{{niv.nivel}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item class="ion-padding-horizontal">
    <ion-label position="stacked" class="ion-padding-bottom">Fecha Nacimiento</ion-label>
    <ion-input type="date" [(ngModel)]="data.nacimiento"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button color="medium" shape="block" (click)="limpiar()">
          Limpiar
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button  color="medium" shape="block" (click)="mostrar()">
          Mostrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
